svg#-linkline-layer{
  /*make svg cover whole document*/
  position:absolute; top:0; left:0; width:100%;

  background-color:rgba(200,200,200,0.2);/*for debug only*/
}

rect#-linkline-hitbox{
  fill:rgba(0,100,200,0.3);
}

path.-linkline-linkline{fill:none; stroke: black; stroke-width: 3;}
