svg#-linkline-layer{
  /*Make svg cover whole document. Override top and left in js with
    html style attr if the positioning context is not the root element.*/
  position:absolute; top:0; left:0;
  z-index:1000;

  background-color:rgba(200,200,200,0.2);/*for debug only*/
}

rect#-linkline-hitbox{
  fill:rgba(0,100,200,0.3);
}

path.-linkline-linkline{fill:none; stroke: black; stroke-width: 3;}
